@font-face {
  font-family: latoItalic;
  src: url("/fonts/Lato/Lato-Italic.ttf");
}

@font-face {
  font-family: latoReg;
  src: url("/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: latoBlk;
  src: url("/fonts/Lato/Lato-Black.ttf");
}

@font-face {
  font-family: caveatBold;
  src: url("/fonts/Lato/fonts_export/Caveat-Bold.ttf");
}

@font-face {
  font-family: caveatReg;
  src: url("/fonts/Lato/fonts_export/Caveat-Regular.ttf");
}
