.home-wrapper {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page-wrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(242, 92, 84, 0.7), rgba(242, 92, 84, 0.7)),
    url("/images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.circle-wrapper {
  position: relative;
  width: 435px;
  height: 435px;
}

.big-circle {
  position: absolute;
  bottom: 0;
  width: 387px;
  height: 387px;
  border-radius: 50%;
  background-color: #ffd972;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  color: #fff;

  h1 {
    font-family: caveatBold;
    font-size: 24px;
    color: #000;
    margin-bottom: 30px;
  }
  p {
    color: #000;
    font-family: latoReg;
    font-size: 13px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
  }
}

.small-circle {
  position: absolute;
  right: 0;
  width: 168px;
  height: 168px;
  border-radius: 50%;
  background-color: #fcbcb8;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #fff;
  font-family: latoItalic;
  font-size: 10px;
  color: #000;
  padding-left: 60px;
}
