.login-page-wrapper {
  width: 100%;
  height: 100%;
  background-color: #ffd972;

  .login-signup-wrapper {
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    .login-wrapper {
      width: 210px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      margin-right: 300px;

      h1 {
        font-family: latoreg;
        font-size: 30px;
        margin-bottom: 50px;
        text-align: left;
        margin-left: -30px;
      }

      input {
        outline: none;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 3px solid #000;
        background-color: #ffd972;
        margin-bottom: 40px;
        width: 207px;
      }

      ::placeholder {
        color: #000;
        opacity: 1;
        font-family: latoReg;
        font-size: 12px;
      }

      .login-btn {
        width: 209px;
        height: 52px;
        box-shadow: 5px 5px 10px #888888;
        text-align: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        border-radius: 30px;

        p {
          font-family: caveatReg;
          font-size: 25px;
        }
      }
    }

    .signup-wrapper {
      width: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 200px;

      p {
        font-family: latoItalic;
        font-size: 12px;
        text-align: left;
        margin-left: -135px;
        margin-bottom: -3px;
      }

      h1 {
        font-family: latoreg;
        font-size: 30px;
        margin-bottom: 50px;
        text-align: left;
        margin-left: -130px;
      }

      input {
        outline: none;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 3px solid #000;
        background-color: #ffd972;
        margin-bottom: 40px;
        width: 250px;
      }

      ::placeholder {
        color: #000;
        opacity: 1;
        font-family: latoReg;
        font-size: 12px;
      }

      .signup-btn {
        width: 250px;
        height: 52px;
        box-shadow: 5px 5px 10px #888888;
        text-align: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;

        p {
          font-family: caveatReg;
          font-size: 25px;
          text-align: center;
          padding-left: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .login-page-wrapper {
    width: 100%;
    height: fit-content;
    .login-signup-wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: 100%;

      .login-wrapper {
        margin: 0 auto;
        margin-bottom: 100px;
      }

      .signup-wrapper {
        margin: 0 auto;
        margin-bottom: 150px;
      }

      footer {
        padding-top: 50px;
      }
    }
  }
}
