header {
  padding: 0 20px;
  height: 50px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

header a {
  text-decoration: none;
}

#brand {
  width: 224px;
  height: 55px;
  background-image: url("/images/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: #000;
  font-family: caveatReg;
  font-size: 25px;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

#login-desktop,
#signup {
  border-radius: 20px;
  padding: 5px 40px;
  background-color: #ffd972;
  box-shadow: 5px 5px 10px #888888;
}

#login {
  color: #000;
}
#signup {
  border: 1px solid cornflowerblue;
  color: cornflowerblue;
}

#hamburger-icon {
  margin: auto 0;
  cursor: pointer;
  display: none;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: #000;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg), translate(-6px, 6px);
  transform: rotate(-45deg), translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, 6px);
  transform: rotate(45deg) translate(-6px, 6px);
}

.open .mobile-menu {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: papayawhip;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

.active {
  text-decoration: underline;
}

@media only screen and (max-width: 900px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}
